body {
    background-color: rgb(23, 157, 135);
    width: 80%;
    margin-left: 10%;
    margin-right: -10%;
    margin-top: 1.5em;
    font-family: monospace;
    font-size: 3em;
}

form {
    display: block;
    text-align: center;
}

#inline {
    text-align: initial;
    margin: 0.5rem auto;
}

#inline > label {
    vertical-align: middle;
}

#file {
    text-align: justify;
    font-size: 1.5rem;
}

#file::file-selector-button {
    border-radius: 15px;
    text-decoration: none;
    padding: 0.5em;
    cursor: pointer;
    background-color: silver;
    color: black;
}

#predict-btn {
    border: none;
    border-radius: 15px;
    color: white;
    text-decoration: none;
    padding: 0.5em;
    cursor: pointer;
    background-color: rgb(70, 219, 169);
    font-size: 1.5rem;
    width: 30%;
}

#redirect {
    display: block;
    text-align: center;
}

#predict-again-btn {
    border: none;
    border-radius: 15px;
    color: white;
    text-decoration: none;
    padding: 0.5em;
    cursor: pointer;
    background-color: rgb(70, 219, 169);
    font-size: 1.5rem;
    width: 30%;
}